In [2]:
"""
날짜 : 2023/01/10
이름 : 김채영
내용 : 파이썬 리스트함수 실습하기
"""
import math

In [14]:
dataset = [1, 4, 3]
print(dataset)

[1, 4, 3]

In [15]:
# 데이터 추가
dataset.append(2)
dataset.append(5)
print(dataset)

[1, 4, 3, 2, 5]

In [17]:
# 데이터 정렬
dataset.reverse()
print(dataset)

dataset.sort()
print(dataset)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [19]:
# 데이터 삽입
dataset.insert(2, 6)
print(dataset)

dataset.insert(1, 7)
print(dataset)

[1, 2, 6, 6, 3, 4, 5]
[1, 7, 2, 6, 6, 3, 4, 5]

In [23]:
# 데이터 삭제
dataset.remove(6)
print(dataset)

dataset.pop(1)
print(dataset)

ValueError: list.remove(x): x not in list

In [28]:
# map 함수
def plus(x):
    return x + 10

list1 = [1, 2, 3, 4, 5]
r1 = list(map(plus, list1))

list2 = [0.1, 1.2, 2.6, 3.4, 4.9]
r2 = list(map(math.ceil, list2))

list3 = ['10', '20', '30', '40', '50']
r3 = list(map(int, list3))

print('r1 : ', r1)
print('r2 : ', r2)
print('r3 : ', r3)

r1 :  [11, 12, 13, 14, 15]
r2 :  [1, 2, 3, 4, 5]
r3 :  [10, 20, 30, 40, 50]